<%- include("header");-%>
<div class="aboutmain">
  <img
    src="https://i.pinimg.com/originals/e2/62/31/e262312cc28e8a1c7cecf90a59214d9c.jpg"
    alt=""
  />
  <div class="aboutus">
    <h3>About Us</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, nisi
      commodi? Asperiores natus ea doloremque, facere veniam magni laboriosam
      nam corrupti, delectus ratione, praesentium consectetur sunt quae dolorem
      aspernatur iusto?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptates cumque expedita quia, sequi harum nam nihil doloremque sit earum!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam suscipit saepe animi odit sit odio voluptate.
    </p>
    <button class="btn">Learn More</button>
  </div>
</div>
<%- include("footer");-%>
