<%- include("header");-%>
<div class="contain">
  <div class="contactmain">
    <div class="contact">
      <i class="fa-solid fa-phone icon"></i>
      <i class="fa-brands fa-facebook icon"></i>
      <i class="fa-brands fa-whatsapp icon"></i>
      <i class="fa-brands fa-twitter icon"></i>
      <i class="fa-solid fa-envelope icon"></i>
    </div>
    <p class="number">+91-8963258741</p>
  </div>
</div>

<%- include("footer");-%>
