<%- include("header");-%>

    <div class="hero-Page">
        <img src="https://cdn-icons-png.flaticon.com/512/3095/3095221.png" alt="">
      <h1 class="heading">
        Design custom website for Mobile,Tablet & Desktop.
      </h1>
      <h3 class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe placeat
        libero eligendi quasi labore. Vero pariatur explicabo dignissimos,
        nostrum facere tempora quasi dolores inventore vitae fuga nisi? Est
        distinctio cumque hic corrupti.
      </h3>
    </div>

  

<%- include("footer");-%>
