<%- include("header");-%>
<div class="skills">
  <img
    src="https://www.freepnglogos.com/uploads/html5-logo-png/html5-logo-best-web-design-psd-html-cms-development-ecommerce-6.png"
    alt=""
  />
</div>

<%- include("footer");-%>
